<div class="card">

  <div class="card-header">
    <div class="row d-flex justify-content-between">
      <div>
        <h1>{{title}}</h1>
      </div>
      <div class="d-flex justify-content-end">

        <form class="form-inline" *ngIf="showOrderingDropdown()">

          <div ngbDropdown
               *ngFor="let filter of nailedDownFilters"
               class="d-inline-block mx-1"
               [autoClose]="'outside'">
            <button class="btn btn-primary"
                    id="dropdown{{filter.getLabel()}}"
                    name="dropdown{{filter.getLabel()}}"
                    ngbDropdownToggle>{{filter.getLabel()}}</button>
            <div ngbDropdownMenu
                 [attr.aria-labelledby]="'dropdown' + filter.getLabel()">
              <button *ngFor="let option of visibleOptions.get(filter)"
                      ngbDropdownItem
                      (click)="toggleOption(option, filter)"
                      [ngClass]="getOptionClass(option)">
                {{option.label}}
              </button>
              <div class="dropdown-divider" *ngIf="filter.getSpecialOptions().length > 0"></div>
              <button *ngFor="let option of filter.getSpecialOptions()"
                      ngbDropdownItem
                      (click)="toggleOption(option, filter)"
                      [ngClass]="getOptionClass(option)">
                {{option.label}}
              </button>
            </div>
          </div>

          <label class="col-form-label mx-1" for="orderBy">Order By: </label>
          <div class="form-group mx-1">

            <select class="custom-select" id="orderBy">
              <option *ngFor="let ordering of orderings"
                      [selected]="isSelected(ordering)"
                      (click)="changeOrdering(ordering)">{{ordering.displayName}}</option>
            </select>

          </div>

        </form>
      </div>

    </div>
  </div>


  <div class="row"
       *ngIf="initializing">
    <div class="col-4">
      Loading...
    </div>
  </div>

  <div class="row"
       *ngIf="!!error">
    <div class="col-4">
      Error while loading: {{error}}
    </div>
  </div>


  <div class="card-body">
    <div class="row gameRow" *ngIf="!!filteredGames && filteredGames.length > 0">
      <div class="col-4 gameCard"
           *ngFor="let game of filteredGames |
           slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <mm-game-card [game]="game" [parentList]="thisComponent"></mm-game-card>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      size="lg"
      [maxSize]="6"
      [collectionSize]="filteredGames.length"></ngb-pagination>
  </div>

</div>
