<div class="card">

  <div class="card-header">
    <div class="row">
      <div class="col-9">
        <h1>{{title}}</h1>
      </div>
      <div class="col-3">
        <form class="form-inline" *ngIf="showOrderingDropdown()">
          <label class="col-form-label" for="orderBy">Order By: </label>
          <div class="form-group">
            <select class="custom-select" id="orderBy">
              <option *ngFor="let key of orderingKeys"
                      [selected]="selectedOrdering === key"
                      (click)="changeOrdering(key)">{{key}}</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row gameRow" *ngIf="!!games">
      <div class="col-4 gameCard"
           *ngFor="let game of games |
           slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <mm-game-card [game]="game" [parentList]="thisComponent"></mm-game-card>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      size="lg"
      [maxSize]="6"
      [collectionSize]="games.length"></ngb-pagination>
  </div>

</div>
