<div class="card">

  <div class="card-header">
    <div class="row d-flex justify-content-between">
      <div>
        <h1>{{title}}</h1>
      </div>
      <div class="d-flex justify-content-end">

        <button class="btn btn-success"
                (click)="openAddGamePopup()">+</button>

        <form class="form-inline" *ngIf="showOrderingDropdown()">

          <label class="col-form-label" for="orderBy">Order By: </label>
          <div class="form-group">

            <div ngbDropdown
                 class="d-inline-block"
                 [autoClose]="'outside'">
              <button class="btn btn-primary"
                      id="dropdownPlatform"
                      name="dropdownPlatform"
                      ngbDropdownToggle>Platform</button>
              <div ngbDropdownMenu
                   aria-labelledby="dropdownPlatform">
                <button *ngFor="let option of platformFilter.options"
                        ngbDropdownItem
                        (click)="toggleOption(option)"
                        [ngClass]="getOptionClass(option)">
                  {{option.label}}
                </button>
              </div>
            </div>

            <select class="custom-select" id="orderBy">
              <option *ngFor="let ordering of orderings"
                      [selected]="isSelected(ordering)"
                      (click)="changeOrdering(ordering)">{{ordering.displayName}}</option>
            </select>

          </div>

        </form>
      </div>

    </div>
  </div>

  <div class="card-body">
    <div class="row gameRow" *ngIf="!!filteredGames">
      <div class="col-4 gameCard"
           *ngFor="let game of filteredGames |
           slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <mm-game-card [game]="game" [parentList]="thisComponent"></mm-game-card>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      size="lg"
      [maxSize]="6"
      [collectionSize]="filteredGames.length"></ngb-pagination>
  </div>

</div>
