<h1>My Global Platforms</h1>

<h3>My Platforms</h3>

<!-- todo: warning if any platforms are preferred for game -->

<div class="row my-1"
     *ngFor="let platform of myGlobalPlatforms()">
  <div class="col-3">
    {{platform.full_name.originalValue}}
  </div>
  <div class="col-1">
    <button class="btn btn-sm btn-warning"
            (click)="removeFromMyPlatforms(platform)">
      Remove
    </button>
  </div>
  <div class="col-1">
    <!--suppress HtmlFormInputWithoutLabel -->
    <input type="number"
           class="form-control form-control-sm darkInput"
           [(ngModel)]="platform.myGlobalPlatform.rank.value"/>
  </div>
</div>

<br>
<h3>Other Platforms</h3>

<div class="row my-1"
     *ngFor="let platform of otherPlatforms()">
  <div class="col-3">
    {{platform.full_name.originalValue}}
  </div>
  <div class="col-1">
    <button class="btn btn-sm btn-primary"
            (click)="addToMyPlatforms(platform)">Add</button>
  </div>
</div>

