
  <div class="modal-header">
    <h1>Add Playtime</h1>
    <button type="button"
            class="btn btn-warning close"
            aria-label="Close"
            (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <h3>{{game.title}}</h3>
    Previous: {{game.personGame.minutes_played}}
    <form>
      <label for="playtime">Playtime:</label>
      <div class="input-group">
        <input id="playtime"
               class="form-control"
               name="playtime"
               type="text"
               [(ngModel)]="changedPlaytime">
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button"
            class="btn btn-success"
            (click)="saveAndClose()">Save</button>
  </div>
