<div class="modal-header">
  <h1>Add Playtime</h1>
  <button type="button"
          class="btn btn-warning close"
          aria-label="Close"
          (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body"
     *ngIf="!!game">

  <h3>{{game.title.value}}</h3>

  <div class="row">
    <div class="col-4">

      <!-- Single Platform-->
      <h4 *ngIf="game.myPlatforms.length === 1">{{selectedPlatform.platform_name.originalValue}}</h4>

      <!-- Multi Platform Dropdown -->

      <!--suppress HtmlFormInputWithoutLabel -->
      <select *ngIf="game.myPlatforms.length > 1"
              class="custom-select"
              id="platformSelect">
        <option *ngFor="let platform of game.myPlatforms"
                [selected]="platformIsSelected(platform)"
                (click)="selectPlatform(platform)">
          {{platform.platform_name.originalValue}}
        </option>
      </select>

    </div>
  </div>


  <form>

    <div class="row">
      <div class="col-6">
        <div class="form-group form-row">
          <label class="col-4 col-form-label" for="dp">Played Date:</label>
          <div class="col-8 input-group">
            <input class="form-control darkInput"
                   placeholder="yyyy-mm-dd"
                   id="dp"
                   name="dp"
                   (change)="validateModel()"
                   [(ngModel)]="model"
                   ngbDatepicker
                   #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn"
                      (click)="d.toggle()"
                      type="button">
                <svg class="bi bi-calendar" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M14 0H2a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M6.5 7a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    Gameplay Time fields -->

    <div class="row">
      <div class="col-6">

          <div class="form-group form-row">
            <label class="col-4 col-form-label" for="originalHours">Original Total</label>

            <div class="col-4 input-group">
              <input type="number"
                     class="darkInput form-control"
                     id="originalHours"
                     name="originalHours"
                     [(ngModel)]="original.hours"/>
              <div class="input-group-append">
                <span class="input-group-text">h</span>
              </div>
            </div>

            <div class="col-4 input-group">
              <input type="number"
                     class="darkInput form-control"
                     id="originalMinutes"
                     name="originalMinutes"
                     [(ngModel)]="original.minutes"/>
              <div class="input-group-append">
                <span class="input-group-text">m</span>
              </div>
            </div>
          </div>

          <div class="form-group form-row">
            <label class="col-4 col-form-label" for="newHours">New Total</label>

            <div class="col-4 input-group">
              <input type="number"
                     class="darkInput form-control"
                     id="newHours"
                     name="newHours"
                     [(ngModel)]="resulting.hours"
                     (ngModelChange)="newChanged()"/>
              <div class="input-group-append">
                <span class="input-group-text">h</span>
              </div>
            </div>

            <div class="col-4 input-group">
              <input type="number"
                     class="darkInput form-control"
                     id="newMinutes"
                     name="newMinutes"
                     [(ngModel)]="resulting.minutes"
                     (ngModelChange)="newChanged()"/>
              <div class="input-group-append">
                <span class="input-group-text">m</span>
              </div>
            </div>
          </div>

      </div>

      <div class="col-6">

        <div class="form-group form-row">
          <label class="col-4 col-form-label" for="addedHours">Add Time</label>

          <div class="col-4 input-group">
            <input type="number"
                   class="darkInput form-control"
                   id="addedHours"
                   name="addedHours"
                   [(ngModel)]="added.hours"
                   (ngModelChange)="addedChanged()">
            <div class="input-group-append">
              <span class="input-group-text">h</span>
            </div>
          </div>

          <div class="col-4 input-group">
            <input type="number"
                   class="darkInput form-control"
                   id="addedMinutes"
                   name="addedMinutes"
                   [(ngModel)]="added.minutes"
                   (ngModelChange)="addedChanged()"/>
            <div class="input-group-append">
              <span class="input-group-text">m</span>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-12">

        <div class="form-group form-row">

          <div class="col-3">
            <div class="form-row">
              <label class="col-4 col-form-label" for="rating">Rating</label>
              <div class="col-8">
                <input [(ngModel)]="gameplaySession.rating.value"
                       class="darkInput form-control"
                       type="number"
                       id="rating"
                       name="rating">
              </div>
            </div>

          </div>

          <div class="col-3">
            <div class="form-row">
              <label class="col-6 col-form-label" for="finishedInput">Finished</label>
              <div class="col-6">
                <input type="checkbox"
                       id="finishedInput"
                       name="finishedInput"
                       checked
                       class="form-control"
                       [(ngModel)]="finished">
              </div>
            </div>
          </div>

          <div class="col-3" *ngIf="!!finished">
            <div class="form-row">
              <label class="col-4 col-form-label" for="finalScoreInput">Final</label>
              <div class="col-8">
                <input [(ngModel)]="game.personGame.final_score.value"
                       class="darkInput form-control"
                       type="number"
                       id="finalScoreInput"
                       name="finalScoreInput">
              </div>
            </div>

          </div>

          <div class="col-3" *ngIf="!!finished">
            <div class="form-row">
              <label class="col-4 col-form-label" for="replayInput">Replay</label>
              <div class="col-8">
                <input [(ngModel)]="game.personGame.replay_score.value"
                       class="darkInput form-control"
                       type="number"
                       id="replayInput"
                       name="replayInput">
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>



  </form>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-primary"
          [disabled]="disableAdd()"
          (click)="saveAndClose()">Add</button>
</div>
