<div class="modal-header">
  <h1>Add Game</h1>
  <button type="button"
          class="btn btn-warning close"
          aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form>
    <div class="form-row">

      <div class="col-6">
        <label class="col-form-label" for="name">Name</label>
        <input type="text"
               class="darkInput form-control"
               id="name"
               name="name"
               [required]="true"
               [(ngModel)]="interfaceFields.title"/>
      </div>

      <div class="col-3">
        <label class="col-form-label" for="platform">Platform</label>
        <select class="custom-select darkInput"
                id="platform"
                name="platform"
                [(ngModel)]="interfaceFields.platform">
          <option *ngFor="let platform of getPlatformOptions()"
                  [selected]="getDisplayValueOf(platform) === interfaceFields.platform"
                  (click)="updatePlatform(platform)">{{getDisplayValueOf(platform)}}</option>
        </select>
      </div>

      <div class="col-3">
        <label class="col-form-label" for="rating">Rating</label>
        <input type="number"
               class="darkInput form-control"
               id="rating"
               name="rating"
               [(ngModel)]="interfaceFields.personGame.rating"/>
      </div>

    </div>

  </form>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-primary"
          [disabled]="!canSubmit()"
          (click)="submitAndClose()">Submit and Close</button>
</div>
