<form>
  <div class="form-row">
    <div class="col-6">
      <label class="col-form-label" for="name">Name</label>
      <div class="input-group">
        <input type="text"
               class="darkInput form-control"
               id="name"
               name="name"
               [required]="true"
               [(ngModel)]="searchTitle"/>
        <span class="input-group-append">
          <input type="button"
                 class="btn btn-info"
                 [disabled]="!canSearch()"
                 (click)="getMatches()"
                 value="Search">
        </span>
      </div>

    </div>
  </div>
</form>

<div class="row">
  <div class="col-3"
       *ngFor="let match of matches">
    {{match.name}}<br>
    <button type="button"
            class="btn btn-sm btn-success"
            (click)="addGame(match)">
      Add Game
    </button>
  </div>
</div>
