<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <ul class="navbar-nav mr-auto">

      <!-- DROPDOWN: make sure you have jquery, @popperjs/core, and bootstrap js included in index.html! -->
      <li class="nav-item dropdown active"
          *ngIf="isLoggedIn$() | async">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">Games</a>
        <div class="dropdown-menu"
             aria-labelledby="navbarDropdown">
          <a class="dropdown-item"
             routerLink="/dashboard">Dashboard</a>
          <a class="dropdown-item"
             routerLink="/browse">Browse</a>
          <a class="dropdown-item"
             routerLink="/search">Add Game</a>
          <a class="dropdown-item"
             routerLink="/myPlatforms">My Platforms</a>
          <a class="dropdown-item"
             *ngIf="personService.isAdmin"
             routerLink="/platforms">Platforms</a>
        </div>
      </li>

      <!--TODO: href goes nowhere? -->
      <li class="nav-item active">
        <a routerLink="/" class="nav-link" (click)="auth.loginWithRedirect()" *ngIf="!(isLoggedIn$() | async)">Log In</a>
        <a routerLink="/" class="nav-link" (click)="auth.logout({ returnTo: document.location.origin })" *ngIf="isLoggedIn$() | async">Log Out</a>
      </li>

      <li class="nav-item active">
        <a routerLink="profile" class="nav-link" *ngIf="isLoggedIn$() | async">Profile</a>
      </li>

      <li class="nav-item">
        <!--suppress HtmlFormInputWithoutLabel -->
        <input id="gameSearch"
               placeholder="Quick Find..."
               type="text"
               [disabled]="initializing"
               class="form-control"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               [(ngModel)]="model"
               (blur)="model = undefined"
               (selectItem)="openPopup($event)"
               [ngbTypeahead]="search"/>
      </li>

    </ul>

  </div>

</nav>
