@import '../../../solar_variables';

.addGameButton {
  top: 2pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  horiz-align: center;
  text-align: center;
  position: relative;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

::ng-deep .progress {
  background-color: hsla(0, 0, 0, 0.2) !important;
}

.progress-text {
  color: white;
  position: absolute;
  display: block;
  left: 46%; /* just in case calc is unavailable in a browser */
}
