<div class="gameCardInside">
  <div class="row">
    <div class="col-6 gameImageContainer">

      <img class="rounded gameImage"
           *ngIf="!!getImageUrl()"
           src="{{getImageUrl()}}"
           [game]="game"
           default="../../../assets/GenericSeries.gif"
           alt="{{game.title}}"/>

    </div>

    <div class="col-6">
      {{game.title}}<br>
      <br>
      <span *ngIf="!!game.personGame.last_played">
        {{game.personGame.last_played | date: game.personGame.getLastPlayedFormat():'America/Los_Angeles'}}
      </span><br>
      <br>
      <button class="btn btn-success"
              (click)="open(game)">Playtime</button>
    </div>

  </div>

</div>
