<div class="modal-header">
  <h1>Duplicates</h1>
  <button type="button"
          class="btn btn-warning close"
          aria-label="Close"
          (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="row">
    <div class="col fieldCol m-1">
      ID
    </div>
    <div class="col fieldCol m-1"
         *ngFor="let game of gameGroup.games"
         [ngClass]="colClass(game)">
      {{game.id.value}}
    </div>
  </div>

  <div class="row">
    <div class="col fieldCol m-1">
      Title
    </div>
    <div class="col fieldCol m-1"
         *ngFor="let game of gameGroup.games"
         [ngClass]="titleClass(game)">
      {{game.title.value}}
    </div>
  </div>

  <div class="row"
       *ngFor="let field of gameGroup.getFieldsWithDifferences()">
    <div class="col fieldCol m-1">
      {{field.getFieldName()}}
    </div>
    <div class="col fieldCol m-1"
         *ngFor="let game of gameGroup.games"
         [ngClass]="colClassForField(game, field.getFieldName())">
      {{game.getFieldWithName(field.getFieldName()).value}}
    </div>
  </div>

  Person Fields:

  <div class="row"
       *ngFor="let field of gameGroup.getPersonFieldsWithDifferences()">
    <div class="col fieldCol m-1">
      {{field.getFieldName()}}
    </div>
    <div class="col fieldCol m-1"
         *ngFor="let game of gameGroup.games"
         [ngClass]="colClassForPersonField(game, field)">
      {{!game.personGame ? 'n/a' : game.personGame.getFieldWithName(field.getFieldName()).value}}
    </div>
  </div>

</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-primary"
          (click)="submitAndClose()">Submit and Close</button>
</div>
